/* Custom scrollbar styles for webkit browsers (Chrome, Safari) */
.category-ul::-webkit-scrollbar {
  height: 4px; /* Height of the scrollbar */
}

.category-ul::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.category-ul::-webkit-scrollbar-thumb {
  background-color: #ff69b4; /* Color of the scroll thumb */
  border-radius: 4px; /* Rounded corners for the scroll thumb */
}

/* Custom scrollbar styles for Firefox */
.category-ul {
  scrollbar-width: thin; /* Make the scrollbar thin */
  scrollbar-color: #ff69b4 transparent; /* Scroll thumb color and track color */
}

.adminSideBar {
  animation: fade-in 300ms ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
